*{
    margin: 0;
    padding: 0;
}
/* Header Section */
.head-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(229, 84, 115, 0.10);
   padding: 50px;
}
.head-img{
    width:420px;
}
.head-title{
    color: #272727;
font-family: Lato;
font-size: 50px;
font-weight: 500px;
padding bottom: 30px;;
}
.head-description{
    color: rgba(39, 39, 39, 0.60);
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
padding-bottom: 30px;
}
.btn{
    display: inline-flex;
padding: 20px 43px;
align-items: flex-start;
gap: 10px;
border-radius: 8px;
background: #E55473;
border: none;
font-size: 20px;
color: white;
}
/* Feature Section */
.ftr-container{
    padding: 80px 0px;
}
.ftr-info{
    text-align: center;
}
.ftr-item{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.ftr-title{
    color: #272727;
font-family: Lato;
font-size: 40px;
font-weight: 800;
line-height: normal;
}
.ftr-description{
    color: rgba(39, 39, 39, 0.60);
font-family: Lato;
font-size: 18px;
font-weight: 400;
line-height: 30px;
margin-bottom: 50px;
}
.ftr-item-1{
    width: 250px;
    height: 300px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}
.ftr-item-2{
    width: 250px;
    height: 300px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}
.ftr-item-3{
    width: 250px;
    height: 300px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}
.ftr-img{
width: 170px;
padding: 45px ;
padding-top: 65px;
}
.ftr-img-3{
    width: 165px;
    padding: 45px;
    padding-top: 52px;
}
.item-name{
    display: flex;
    justify-content: center;
    gap: 120px;
    padding: 30px;
    color: #272727;
text-align: center;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 35px;
}
/* Service Section */
.service-container{
    width: 1000px;
    height: 250px;
    background-color: rgba(39, 39, 39, 0.05);
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.service-item{
    text-align: center;
}
.service-name{
    color: rgba(39, 39, 39, 0.80);
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 35px; 
}
/* Hot Deal Item */
.hot-deal-container{
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(229, 84, 115, 0.05);
    margin: 100px 0px;
    padding: 0px 130px;
}
.hot-deal-info{
   text-align: center;
}
.hot-deal-title{
    color: #272727;
font-family: Lato;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.hot-deal-description{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
padding: 30px 0px;
}
/* Social Item */
.social-container{
    display: flex;
    justify-content: space-around;
    padding: 0px 230px;
}
.social-img{
    width: 200px;
}
/*Input Email Section  */
.email-container{
    height: 300px;
    width: 1000px;
    background-image: url(../image/Rectangle\ 9.png);
    background-size: 1000px;
    margin: 100px auto;  
}
.email-title{
    color: #272727;
text-align: center;
font-family: Lato;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.email-description{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
.email{
    width: 400px;
height: 44px;
flex-shrink: 0;
border-radius: 8px;
border: none;

}
.email ,placeholder{
    padding-left: 20px;
}

.input-email{
    text-align: center;
}
.email-info{
padding-top: 80px;
}
.btn-email{
    display: inline-flex;
padding: 15px 33px;
align-items: flex-start;
gap: 10px;
border-radius: 8px;
background: #E55473;
border: none;
font-size: 15px;
color: white;
}
/* footer section */
.footer-container{
    height: 200px;
    text-align: center;
    background: #111010;
    color: white;
    padding-top: 100px;
}
.footer-title{
    font-family: Lato;
font-size: 48px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.footer-description{
    color: rgba(255, 255, 255, 0.90);
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
.copyright{
    color: rgba(255, 255, 255, 0.40);
text-align: center;
font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
